# Auto detect text files and perform LF normalization
* text=auto
node_modules
config.json
config-live.json
process.env
data/

log.txt
commands/database/secretinfo.json
commands/database/secretinfo-live.json
commands/database/subscribers.db
